/* src/Weather.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-app {
  text-align: center;
  font-family: "Arial", sans-serif;
  background-image: url(./sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 20px;
}

.weather-app h1 {
  font-size: 2.5rem;
  margin: 50px;
}

.weather-app input {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.weather-app button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.weather-app button:hover {
  background-color: #0056b3;
  transition: all 0.2s ease;
}

.weather-app #weather h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.weather-app #weather {
  margin-top: 20px;
}

.weather-app #weather p {
  font-size: 1.2rem;
  margin: 15px 0;
}
